.UserProfile {
  border: 1px solid rgba(0,0,0,0.2);
  background: #fff;
  padding: 1em;

  h4 {
    margin: 0;
  }

  h1 {
    margin: 0 0 1em 0;
  }

  dl {
    margin: -0.5em 0 0;
    dt {
      margin: 0.5em 0 0;
    }
  }

}
